.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
	@@ -27,5 +34,6 @@ bin/
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/out/
